{
    admin off
}

:{$PORT} {
    encode gzip

    handle_path /research/* {
        reverse_proxy https://{$RESEARCH_TOOLS_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /antiburocrata/* {
        reverse_proxy https://{$ANTIBUROCRATA_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /brochures/* {
        reverse_proxy https://{$BROCHURES_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /survey/* {
        reverse_proxy https://{$PRION_SURVEY_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /priocohort/* {
        reverse_proxy https://{$PRIOCOHORT_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /tools/* {
        reverse_proxy https://{$JOKIN_TOOLS_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /certificados/* {
        reverse_proxy https://{$CERTIFICADOS_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /txpr/* {
        reverse_proxy https://{$TXPR_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /prionlab/* {
        reverse_proxy https://{$PRIONLAB_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /dni/* {
        reverse_proxy https://{$DNI_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /whatsapp-feep/* {
        reverse_proxy https://{$WHATSAPP_FEEP_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /actprion/* {
        reverse_proxy https://{$ACTPRION_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /clinical-scales/* {
        reverse_proxy https://{$CLINICAL_SCALES_URL} {
            header_up Host {upstream_host}
        }
    }

    handle_path /donation/* {
        reverse_proxy https://{$DONATION_URL} {
            header_up Host {upstream_host}
        }
    }

    handle {
        root * /site
        file_server
    }
}
